@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Oswald:wght@700&display=swap");

:root {
  --primary-color-purple: #7c227c;
  --secondary-color-blue: #065a60;
  --tertiary-color-black: rgb(11, 10, 10);
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body,
.app {
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

#page-content {
  background: var(--tertiary-color-black);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--font-color);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.section-title {
  text-align: center;
  color: var(--font-color);
  margin-bottom: 1rem;
  margin-top: 10rem;
}
.section-title span {
  color: var(--secondary-color-blue);
  -webkit-text-stroke: 0.5px var(--font-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

button,
a,
img {
  cursor: pointer;
}

button,
.contact-anchor,
.about-contact-anchor {
  color: var(--font-color);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--font-color);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.first-text > h1 > span,
.module-name,
.project-text > h1 {
  font-size: 1.6rem;
  background: -webkit-radial-gradient(
    var(--font-color),
    var(--primary-color-purple)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (width > 1023px) {
  .section-title {
    margin-top: 2.5rem;
    word-spacing: 0.5rem;
  }
  .section-title span {
    font-size: 2.5rem;
  }
}
