.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  padding: 2rem;
  gap: 1.5rem;
  background-color: var(--primary-color-purple);
  background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
}

.hero-title {
  color: var(--font-color);
  text-align: start;
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.hero-anchor {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.about-anchor {
  padding: 0.5rem;
  color: var(--font-color);
  background: rgb(0, 0, 0, 0.7);
  border: 2px solid var(--secondary-color-blue);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.about-anchor:hover {
  border: 2px solid var(--font-color);
  transform: scale(1.1);
}

.hero-logo {
  display: flex;
  justify-content: center;
}
.hero-logo > a img {
  width: 2rem;
  margin: 0rem 0.5rem;
}

@media screen and (width > 1023px) {
  .hero-title {
    font-size: 4rem;
    margin-left: 2rem;
  }
  .hero-anchor {
    justify-content: center;
  }

  .about-anchor {
    padding: 0.5rem;
    color: var(--font-color);
    background: rgb(0, 0, 0, 0.7);
    border: 3px solid var(--secondary-color-blue);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
  }

  .hero-logo > img {
    width: 2rem;
  }
}
