.category {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill-icon {
  width: 6rem;
  height: 6rem;
}

.skill-icon > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.skill > span {
  color: var(--font-color);
  font-weight: 500;
}

@media screen and (min-width: 1023px) {
  .category {
    padding: 1rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .skill-icon {
    width: 3rem;
    height: 3rem;
  }
}
